<ion-view title="PTSD Toolkit">
  <ion-content class="padding">
    <h1>Hope Begins With You</h1>
    <article class="card">
    	<p>The PTSD toolkit is a self-directed e-learning program designed to teach or reinforce Nurses' knowledge about the treatment of veteran's with PTSD.</p>
    	<p>Test your skill for treating veterans with PTSD using our simulation tools. Based on real case studies, the simulations let you practice intervening with a veteran.</p>
	</article>
  </ion-content>
</ion-view>
