<ion-view title="PTSD Toolkit">
  <ion-content class="padding">
    <h1>Hope Begins With You</h1>
    <article class="card">
    	<p>The PTSD toolkit is a self-directed e-learning program designed to teach or reinforce Nurses' knowledge about the treatment of veteran's with PTSD.</p>
    	<p>Test your skill for treating veterans with PTSD using our simulation tools. Based on real case studies, the simulations let you practice intervening with a veteran.</p>
	</article>

	<a class="button button-block button-calm" href="#0">Learn about patient care</a>
	<a class="button button-block button-calm" href="#0">Test your skills</a>

	<article class="card">
		<h3>Our Mission:</h3>
    	<p>There is much conflicting information online on PTSD. Wading through it can be confusing. To simplify this process, we present the process of helping your military patients using the PTSD Toolkit for Nurses. Using this site, you will gain valuable insight into the nature of PTSD, have a step-by-step process to help diagnose veterans with PTSD, and get information you can send, print, or share with others.</p>
    	<p>We encourage you to use the Toolkit throughout your everyday practice, but especially to effectively deliver care to military members and veterans who remain at high risk for PTSD. Use our new online assessment game to test your knowledge and application of the PTSD Toolkit and other information provided on this site.</p>
	</article>

	<a class="button button-block button-calm" href="#0">About Us</a>

  </ion-content>
</ion-view>
