<ion-view title="PTSD - Learn">
  <ion-content>
    <ion-list>
      <h2>Learn more about PTSD</h2>
      <article class="card">
      	<h4>Post-traumatic stress disorder (PTSD) is a mental health condition that's triggered by a traumatic event.</h4>
      	<p>It can be defined as a reaction to and re-experiencing of a traumatic event that involved intense fear, helplessness, or horror. The person has persistent symptoms of avoidance, numbing, and hyperarousal.</p>
      	<p>Anyone can be susceptible to PTSD following a traumatic event. It is common for people to show signs of stress-related reactions following traumatic events. However, not everyone develops PTSD.</p>
      </article>

      <a class="button button-block button-calm" href="#/tab/learn/assessment">1. Assessment</a>
      <a class="button button-block button-calm" href="#/tab/learn/intervention">2. Intervention</a>
      <a class="button button-block button-calm" href="#/tab/learn/refferal">3. Refferal</a>
      <a class="button button-block button-calm" href="#0">Additional Resources</a>
    </ion-list>
  </ion-content>
</ion-view>
